<ion-header slot="top" class="toolbar-no-border no-border" mode="ios">
  <ion-toolbar>
    <img class="brand" src="../../../../../assets/shapes/logo.svg" />
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-text>
    <h1 class="title">Contactemos</h1>
  </ion-text>
  <div class="contact__content">
    <div class="contact__conversation" *ngFor="let conversation of conversations">
      <img
        class="contact__contact-image"
        src="../../../../../assets/images/profile.png"
        alt=""
      />
      <div>
        <h2>
          {{conversation?.user?.first_name+''+conversation?.user?.last_name}}
        </h2>
        <p>Artista de pecesito</p>
        <p>72 años</p>
      </div>
      <ion-button class="buttom-contact">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
</ion-content>
<ion-footer>
  <div class="contact__options">
    <ion-button (click)="sendConversations()" class="buttom-yellow">Charla con Abue</ion-button>
    <ion-button
      [routerLink]="['/private/home']"
      class="buttom-outline-green has-font-size-ideal-2"
    >
      Volver
    </ion-button>
  </div>
</ion-footer>
