ion-content{
    --paddign-top: 2rem;
    --padding-start: 2rem;
    --padding-end: 2rem;
}

.help__content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.help__button {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: var(--rounded-medium);
  margin-bottom: .5rem;
}

.card:hover {
  border-radius: var(--rounded-medium);
  background: rgb(233, 233, 233);
}

.buttom__option{
    border-radius: var(--rounded-medium);
    border: solid 1px var(--color-primary-green);
    padding: .5rem 1rem;
    width: 100%;

    font-size: 1.3em;
    /* :hover{
        background: var(--color-primary-yellow);
    } */

    .card {
      margin: 0;
    }
}

