ion-slides {
  height: 100%;
}

.welcome__options {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}
