.toolbar-no-border {
  ion-toolbar {
    --padding-top: 1rem;
    --border-style: none;
    --padding-start: 1rem;
    --padding-bottom: 1.5rem;
    .brand {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.buttom-yellow {
  --background: var(--color-primary-yellow);
  --background-activated: var(--color-primary-yellow-pastel);
  --color: black;
  --padding-bottom: .2rem;
  --padding-top: .2rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  height: 3.5rem;
  font-size: 1.5em;
}

.buttom-outline-green{
  --background: none;
  --background-activated: var(--color-primary-yellow-pastel);
  color: black;
  border: solid 2px var(--color-primary-green);
  font-size: 1em;
  border-radius: var(--rounded-medium);
}

.button-width{
  width: 14rem;
}

.image__footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.has-font-size-ideal{
  font-size: 1.5em;
}

.has-font-size-ideal-2{
  font-size: 1.3em;
}

ion-input{
  padding: 1rem 1rem;
  border: solid 1px var(--color-gray-light);
  margin-bottom: .5rem;
  border-radius: var(--rounded-medium);
  font-size: 1.5em;
}

.content-layout{
  --padding-bottom: 1rem;
  --padding-top: 1rem;
  --padding-start: 2rem;
  --padding-end: 2rem;
}
