<ion-header slot="top" class="toolbar-no-border no-border" mode="ios">
  <ion-toolbar>
    <img class="brand" src="../../../../../assets/shapes/logo.svg" />
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="home__display">
    <div class="home__content">
      <ion-text>
        <h1 class="has-font-size-ideal">¿Qué deseas hacer?</h1>
      </ion-text>
      <ion-button
        [routerLink]="['/private/contact']"
        class="buttom-yellow button-width"
      >
        Quiero conversar
      </ion-button>
      <ion-button
        [routerLink]="['/private/profile']"
        class="buttom-yellow button-width"
      >
        Ver mi perfil
      </ion-button>
    </div>
    <ion-button [routerLink]="['/private/help']" class="buttom-outline-green position-button">Ayuda</ion-button>
  </div>

  <img
    class="image__footer"
    src="../../../../../assets/images/home-1f.svg"
    alt=""
  />
</ion-content>
