ion-content{
    --paddign-top: 2rem;
    --padding-start: 2rem;
    --padding-end: 2rem;
}

.chat__content{
    display: flex; 
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
}

.message{
    width: 12rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin-bottom: .5rem;
    font-size: 1.3em;
}

.message__u{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.message__c{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.message__user{
    background: var(--color-primary-green-pastel);
}
.message__contact{
    background: var(--color-primary-yellow-pastel);
}

.buttom-contact{
    --background: var(--color-primary-green);
    --background-activated: var(--color-primary-green-pastel);
}
.buttom-contact-2{
    --background: var(--color-primary-yellow);
    --background-activated: var(--color-primary-yellow-pastel);
}
ion-footer{
    div{
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        padding: .5rem 1rem;
        ion-input{
            margin-bottom: 0;
        }
    }
}